---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Olga Azhel"
	description="About Olga Azhel"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>

			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I’m a software developer with experience in supply chain
						management and customs compliance. Have a strong
						foundation in efficient problem-solving, meeting tight
						deadlines, self-motivation, and teamwork. Committed to
						constant learning and growing. Always choose to utilize
						technology to solve problems efficiently. Passionate
						about creating elegant digital tools which help improve
						people’s lives.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Languages</h5> - JavaScript, TypeScript, Python, HTML, CSS
					<br />
					<h5>Libraries and Frameworks</h5> - Node.js, Express.js, jQuery,
					React, Redux, Django
					<br />
					<h5>Database</h5> - PostgreSQL, Sequelize, MongoDB, Mongoose,
					ORM/ODM
					<br />
					<h5>Source control</h5> - Git, Github
					<br />
					<h5>Other concepts</h5> - RESTful APIs, OOP, MVC, TDD
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<h5>GENERAL ASSEMBLY</h5>
						<h6>April 2023</h6>
						Software Engineering Immersive program Full-stack software
						engineering student in an intensive, twelve-week, 450+ hour
						program focused on product development fundamentals, object-oriented
						programming, MVC frameworks, data modeling, and team collaboration
						strategies. Developed a portfolio of individual and group
						projects.
						<br />
						<br />
						<h5>NCBFAA Educational Institute | Washington, DC</h5>
						<h6>March 2018</h6>
						Certified Customs Specialist, Customs compliance
						<br />
						<br />
						<h5>
							STATE INSTITUTE FOR ADVANCED TRAINING AND RETRAINING
							OF CUSTOMS AUTHORITIES OF BELARUS | Minsk, Belarus
						</h5>
						<h6>September 2012</h6>
						Licensed Customs Broker, Customs compliance
						<br />
						<br />
						<h5>
							BELARUSSIAN STATE ECONOMIC UNIVERSITY | Minsk,
							Belarus
						</h5>
						<h6>2007 -2012</h6>
						Bachelor of Science in Finance
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
