---
import Icon from './Icon.astro';
import Pill from './Pill.astro'
---

<span style="display: flex; flexDirection: row; width:600px;height:200px">
	<span ><Pill><Icon icon="code" size="1.33em" /> JavaScript</Pill></span>
	<span><Pill><Icon icon="strategy" size="1.33em" /> HTML</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> CSS</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> React</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> Python</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> Django</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> PostgreSQL</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> Mongo DB /Mongoose</Pill></span>
	<span><Pill><Icon icon="pencil-line" size="1.33em" /> Git / GitHub</Pill></span>

</span>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
