---
import Icon from "./Icon.astro";
import Pill from "./Pill.astro";
---

<span class="my-skills">
	<div class="skill-list">
		<h5>Languges</h5>
		<span><Pill>JavaScript</Pill></span>
		<span><Pill>TypeScript</Pill></span>
		<span><Pill>Python</Pill></span>
		<span><Pill>HTML</Pill></span>
		<span><Pill>CSS</Pill></span>
	</div>
	<div class="skill-list">
		<h5>Libraries and Frameworks</h5>
		<span><Pill>Node.js</Pill></span>
		<span><Pill>Express</Pill></span>
		<span><Pill>React</Pill></span>
		<span><Pill>JQuery</Pill></span>
		<span><Pill>Django</Pill></span>
	</div>
	<div class="skill-list">
		<h5>Database</h5>
		<span><Pill>PostgreSQL</Pill></span>
		<span><Pill>Mongo DB /Mongoose</Pill></span>
		<span><Pill>ORM/ODM</Pill></span>
	</div>
	<div class="skill-list">
		<h5>Source control</h5>
		<span><Pill>Git</Pill></span>
		<span><Pill>GitHub</Pill></span>
	</div>
	<div class="skill-list">
		<h5>Other concepts</h5>
		<span><Pill>RESTful APIs</Pill></span>
		<span><Pill>OOP</Pill></span>
		<span><Pill>MVC</Pill></span>
		<span><Pill>TDD</Pill></span>
	</div>
</span>

<style>
	.skill-list {
		display: flex;
		flex-direction: column;
	}

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h5 {
		height: 60px;
	}

	.my-skills {
		margin: auto;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;

		max-width: 100%;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
